*{
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: #3d2211;
}

html{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
.one{
    display:flex; 
    align-items: right;
    font-size: 1.5rem;
}
.two{
    display:flex; 
    margin-left: 350px;
    font-size: 1.5rem;
}
div:hover{
    transition-duration: 5s;
    display:center;
    transform:skew(20deg,3deg);
    padding:0%;
    
}

div{ 
    transition-duration: 5s;
    display: center;
    font-size: 2.5rem;
    margin-top: 25px;
    margin-left: 750px;
    margin-bottom: 0px;
    padding:0%
}